---
layout: default
title: Blog
---

<div class="hero">
  <pre class="ascii-art"> ________  ___       ________  ________
|\   __  \|\  \     |\   __  \|\   ____\
\ \  \|\ /\ \  \    \ \  \|\  \ \  \___|
 \ \   __  \ \  \    \ \  \\\  \ \  \  ___
  \ \  \|\  \ \  \____\ \  \\\  \ \  \|\  \
   \ \_______\ \_______\ \_______\ \_______\
    \|_______|\|_______|\|_______|\|_______|</pre>
  <div class="term-cmd">$ <span>ls ~/blog/</span></div>
  <p>Thoughts, notes, and project logs.</p>
</div>

<div class="section-label">All Posts</div>

<div class="project-list">
  {% assign now_ts = 'now' | date: '%s' | plus: 0 %}
  {% for post in site.posts %}
  {% assign post_ts = post.date | date: '%s' | plus: 0 %}
  {% assign age = now_ts | minus: post_ts %}
  <a href="{{ post.url }}" class="post-item">
    <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
    <span class="post-title">{{ post.title }}{% if age < 259200 %}<span class="badge-new">NEW</span>{% endif %}</span>
  </a>
  {% endfor %}
</div>
