---
layout: default
title: Home
---

<div class="hero">
  <pre class="ascii-art"> ________  ___  ___  ___      ___ ________
|\   __  \|\  \|\  \|\  \    /  /|\   ___ \
\ \  \|\ /\ \  \\\  \ \  \  /  / | \  \_|\ \
 \ \   __  \ \   __  \ \  \/  / / \ \  \ \\ \
  \ \  \|\  \ \  \ \  \ \    / /   \ \  \_\\ \
   \ \_______\ \__\ \__\ \__/ /     \ \_______\
    \|_______|\|__|\|__|\|__|/       \|_______|</pre>
  <div class="term-cmd">$ <span>ls ~/projects/</span></div>
  <p>A collection of things I've built.</p>
</div>

<div class="section-label">Works</div>

<div class="project-list">
  <a href="/digging/" class="project" target="_blank" rel="noopener">
    <div class="project-left">
      <span class="project-prefix">drwxr-xr-x</span>
      <span class="project-name">K-POP Digging Club</span>
    </div>
    <span class="project-desc">Find similar K-POP tracks</span>

  </a>
  <a href="https://luckydraw-maker.vercel.app/" class="project" target="_blank" rel="noopener">
    <div class="project-left">
      <span class="project-prefix">drwxr-xr-x</span>
      <span class="project-name">Luckydraw Maker</span>
    </div>
    <span class="project-desc">Lucky draw tool for event cafes</span>

  </a>
</div>

{% if site.posts.size > 0 %}
<div class="section-label" style="margin-top: 48px;">Recent Posts</div>

<div class="project-list">
  {% assign now_ts = 'now' | date: '%s' | plus: 0 %}
  {% for post in site.posts limit:5 %}
  {% assign post_ts = post.date | date: '%s' | plus: 0 %}
  {% assign age = now_ts | minus: post_ts %}
  <a href="{{ post.url }}" class="post-item">
    <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
    <span class="post-title">{{ post.title }}{% if age < 259200 %}<span class="badge-new">NEW</span>{% endif %}</span>
  </a>
  {% endfor %}
</div>
{% endif %}
